.HPPart1,
.HPPart2,
.HPPart3 {
  display: flex;
  flex-direction: row;
  margin: 100px 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 45px;
  /* height: calc(100vh - 140px); */
}
.HPPart1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.HPImg1 img {
  width: 400px;
  padding-right: 120px;
}
.HPImg3 img {
  width: 400px;
  padding-right: 120px;
}
.HPImg2 img {
  width: 400px;
  padding-left: 120px;
}
.HPHeading {
  font-size: 36px;
  font-weight: 700;
}
.Hptext {
  font-size: 20px;
  padding-right: 200px;
  margin-top: 15px;
  font-weight: 400;
}
.HPHeading3 {
  font-size: 22px;
  font-weight: 800;
  padding-right: 80px;
}
.Hptext3 {
  font-size: 20px;
  padding-right: 150px;
  font-weight: 400;
  margin-top: 15px;
}
.HPHeading2 {
  font-size: 22px;
  font-weight: 800;
}
.Hptext2 {
  font-size: 20px;
  padding-right: 0px;
  font-weight: 400;
  margin-top: 15px;
}
.HPBody1 {
  padding-left: 150px;
}
.HPBody2 {
  padding-right: 120px;
  padding-left: 190px;
}
.HPBody1 button {
  border-radius: 6px;
  padding: 8px 20px;
  margin-top: 18px;
  border: none;
  background-color: rgba(103, 83, 253, 1);
  color: white;
  font-weight: 500;
  box-shadow: 0px 0px 2px black;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .HPParent {
    margin-left: 45px;
  }
  .HPPart1 {
    padding: 0;
  }

  .HPPart2 {
    padding: 0;
  }

  .HPPart3 {
    padding: 0;
  }

  .HPBody1 {
    padding: 0;
  }

  .HPBody2 {
    padding: 0;
  }

  .HPBody3 {
    padding: 0;
  }

  .HPPart2 {
    flex-direction: column-reverse;
  }

  .HPPart3 {
    flex-direction: column;
  }

  .HPImg1 img {
    height: 220px;
    padding: 0;
  }

  .HPImg2 img {
    height: 250px;
    padding: 0;
    padding-top: 20px;
  }

  .HPImg3 img {
    height: 250px;
    padding: 0;
    padding-top: 20px;
  }

  .Hptext {
    padding: 0;
  }

  .Hptext3 {
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .HPHeading {
    font-size: 33px;
    font-weight: 700;
  }

  .HPParent {
    margin-top: 100px;
  }

  .HPImg1 img {
    height: 200px;
  }

  .HPImg2 img {
    height: 200px;
  }

  .HPImg3 img {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .HPHeading {
    font-size: 33px;
    font-weight: 800;
  }

  .Hptext,
  .Hptext2,
  .Hptext3 {
    font-size: 18px;
  }

  .HPHeading2,
  .HPHeading3 {
    font-size: 20px;
  }

  .HPImg1 {
    display: none;
  }

  .HPParent {
    margin-left: 30px;
  }
}

@media screen and (max-width: 400px) {
  .HPHeading {
    font-size: 25px;
    font-weight: 700;
  }

  .Hptext,
  .Hptext2,
  .Hptext3 {
    font-size: 14px;
  }

  .HPHeading2,
  .HPHeading3 {
    font-size: 16px;
  }

  .HPButton {
    font-size: 12px;
  }

  .HPImg1 {
    display: none;
  }
  .HPImg2 img,
  .HPImg3 img {
    width: fit-content;
    height: 160px;
  }

  .HPParent {
    margin-left: 25px;
  }
}
