.LoginBoxDiv {
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 30px;
  padding-bottom: 10px;
}

.LBHeadDiv {
  padding: 10px 190px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.LBBodyDiv {
  padding: 60px 0px;
  font-size: 15px;
}

.LBErrorDiv p {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.LBEmailDiv,
.LBPasswordDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.LBInput {
  border-color: rgba(103, 83, 253, 0.53);
  border-width: 1px;
  border-radius: 6px;
  padding: 8px 6px;
  width: 300px;
  margin-top: 2px;
}

.LBLoginButtonDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.LBLoginButton {
  width: 180px;
  padding: 12px 0px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: rgba(103, 83, 253, 1);
  color: white;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .LoginBoxDiv {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1440px) {
  .LoginBoxDiv {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1366px) {
  .LoginBoxDiv {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .LoginBoxDiv {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .LBHeadDiv {
    padding: 10px 150px;
  }

  .LBBodyDiv {
    padding: 30px 0px;
    font-size: 15px;
  }

  .LoginBoxDiv {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .LBHeadDiv {
    padding: 10px 110px;
  }

  .LBBodyDiv {
    padding: 30px 0px;
    font-size: 15px;
  }

  .LoginBoxDiv {
    padding-bottom: 0;
  }

  .LBInput {
    padding: 6px 4px;
    width: 220px;
    margin-top: 2px;
  }

  .LBHeadDiv {
    font-size: 25px;
  }

  .LBBodyDiv {
    font-size: 13px;
  }

  .LBLoginButton {
    font-size: 13px;
    width: 150px;
  }

  .LBInput {
    padding: 6px 4px;
    font-size: 12px;
    font-family: 300px;
  }
}
