.LPMainDiv {
  max-height: 100vh;
}

.LPBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
  height: calc(100vh - 57px);
}

.LPBody img {
  height: 400px;
  padding-left: 60px;
}

@media screen and (max-width: 1920px) {
  .LPBody img {
    height: 550px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 1680px) {
  .LPBody img {
    height: 450px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 1440px) {
  .LPBody img {
    height: 400px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1366px) {
  .LPBody img {
    height: 400px;
    padding-left: 30px;
  }
}
/* @media screen and (max-height: 850px) {
  .LPBody {
    margin-bottom: 30px;
  }
} */

@media screen and (max-width: 1080px) {
  .LPBody img {
    display: none;
  }
  .LPBody {
    height: calc(100vh - 57px - 20px);
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .LPBody {
    margin-top: 57px;
    height: calc(100vh - 57px - 50px);
  }
}

@media screen and (max-width: 540px) {
  .LPBody {
    margin-top: 57px;
    height: calc(100vh - 57px - 70px);
  }
}

@media screen and (max-width: 400px) {
  .LPBody {
    margin-top: 57px;
    height: calc(100vh - 57px - 90px);
  }
}
