.Menudiv img {
  position: absolute;
  right: 0;
  margin-right: 10px;
  width: 60px;
  border: none;
  outline: none;
  margin-bottom: 100px;
  cursor: pointer;
}

.MapStatsDiv {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 50px;
}

button:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .Menudiv {
    display: none;
  }
}
