.MapStatsMainDiv {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 450px;
  box-sizing: border-box;
  background-color: white;
  max-height: 800px;
  overflow: auto;
}

.MSGITNoSearch {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MSPNYButton,
.MSGITButton {
  width: 50%;
  border: none;
  padding: 15px 0px;
  background-color: black;
  color: white;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.active {
  background-color: #6753fd;
}

.MSPNYDiv {
  padding: 10px 20px;
}
.MSPNYLocationLabel {
  font-weight: 700;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.MSPNYLocationResultDiv {
  display: flex;
  justify-content: space-between;
}

.MSPNYResultDiv {
  margin-top: 15px;
}

.MSPNYResultLabel {
  font-weight: 700;
  padding-bottom: 5px;
}

.MSPNYListDiv {
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: auto;
  height: 220px;
  margin-bottom: 10px;
}

.PNYLoadingDiv {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.MSPNYListItemDiv {
  padding: 6px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.MSPNYName {
  font-weight: 500;
}

.MSGITDiv {
  padding: 10px 20px;
}

.MSGITSearchInfoDiv {
  margin-bottom: 15px;
}

.MSGITName {
  font-weight: 600;
}

.MSGITPathsLabel {
  font-weight: 600;
  margin-bottom: 5px;
}

.MSGITPathListDiv {
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: auto;
  max-height: 220px;
  margin-bottom: 10px;
}

.MSGITPathDiv {
  padding: 6px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.MSGITPath {
  font-weight: 600;
  margin: 2px 0px;
}

.PNYMobileOuterDiv,
.GITMobileOuterDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1.5px);
  z-index: 100000;
}

.PNYMobile,
.GITMobile {
  width: 450px;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 4px 11px;
}

.GITMobileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .PNYMobile,
  .GITMobile {
    width: 400px;
  }

  .GITMobile {
    max-height: 400px;
  }

  .MSPNYListDiv,
  .MSGITPathListDiv {
    max-height: 150px;
  }
}

@media screen and (max-width: 540px) {
  .PNYMobile,
  .GITMobile {
    width: 400px;
    font-size: 13px;
  }

  .GITMobile {
    max-height: 400px;
  }

  .MSPNYListDiv,
  .MSGITPathListDiv {
    max-height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .PNYMobile,
  .GITMobile {
    width: 290px;
    font-size: 13px;
  }

  .GITMobile {
    max-height: 350px;
  }

  .MSPNYListDiv {
    max-height: 150px;
  }

  .MSGITPathListDiv {
    max-height: 80px;
  }

  .MSGITNoSearch {
    height: 220px;
  }
}
