.SEInput {
  border-color: rgba(103, 83, 253, 1);
  border-width: 1.5px;
  border-radius: 6px;
  padding: 8px 6px;
  width: 800px;
  text-align: center;
  margin: 0;
}

.SEResultsDiv {
  width: 815px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 4px 11px;
  z-index: 10;
  max-height: 300px;
  overflow: auto;
}

.SESearchResult {
  padding: 15px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(202, 202, 202, 0.59);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SESearchResult:hover {
  background-color: rgba(202, 202, 202, 0.59);
}

.SEAddFriendButton {
  border-radius: 6px;
  padding: 3px 7px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 500;
  box-shadow: 0px 0px 2px black;
  cursor: pointer;
}

.SEFriendRequestSent,
.SEFriends {
  border-radius: 6px;
  padding: 3px 7px;
  border: none;
  background-color: rgba(103, 83, 253, 1);
  color: white;
  font-weight: 500;
  box-shadow: 0px 0px 2px black;
}

.Loading {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid rgba(103, 83, 253, 1); /* Blue */
  border-radius: 60%;
  width: 20px;
  height: 20px;
  animation: spin 3s linear infinite;
}

.SELoadingMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1080px) {
  .SearchBoxMainDiv {
    width: 515px;
  }
  .SEResultsDiv {
    width: 515px;
  }
}

@media screen and (max-width: 768px) {
  .SearchBoxMainDiv {
    width: 415px;
  }
  .SEResultsDiv {
    width: 415px;
    font-size: 13px;
  }
  .SEAddFriendButton,
  .SEFriendRequestSent,
  .SEFriends {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  .SearchBoxMainDiv {
    width: 245px;
  }
  .SEResultsDiv {
    width: 245px;
  }
}

@media screen and (max-width: 400px) {
  .SearchBoxMainDiv {
    width: 215px;
  }
  .SEResultsDiv {
    width: 215px;
  }
}
